@import './constants';

html {
  box-sizing: border-box;
  background: $secondary-color;
  overflow-y: scroll;
  margin-left: -22rem;

  @media screen and (max-width: 1250px) {
    margin-left: -16.5rem;
  }

  @media screen and (max-width: 1100px) {
    margin-left: -11rem;
  }

  @media screen and (max-width: 950px) {
    margin-left: -5.5rem;
  }

  @media screen and (max-width: 800px) {
    margin-left: 0;
  }
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:focus {
    outline: none;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  text-align: center;
}

p, a, input {
  font-family: $main-font;
}


.fa-carrot {
  > path {
    color: $success-green;
  }
}

.fa-pepper-hot {
  > path {
    color: $error-red;
  }
}