@import '../common/constants';

.header {
  width: 60vw;
  background: $primary-dark;
  margin: 2.5rem auto 0 auto;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 5px 0px black;

  @media screen and (max-width: 1000px) {
    width: 75vw;
  }

  @media screen and (max-width: 700px) {
    width: 90vw;
  }
  
  h1 {
    color: $contrast-color;
    display: inline;
    margin: 0;

    @media screen and (max-width: 1275px) {
      display: none;
    }
  }
}
